header {
    background: #A7FFF7;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 2;
}
section#about {
    background: #6B6B6B;
    padding: 100px 0 50px 0;
    color: #eee;
}

section .title {
    margin-top: 5%;
    margin-bottom: 5%;
}

section a.btn {
    font-size: 18px; 
}

footer {
    background: #332D2D;
    padding: 1%;
    color: #eee;
    
    margin-top: 50px;
}